
body {
    background-color:#f1ded8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10%;
    padding-right:10%;
    color:#1a212f;
}
p {
    padding-left: 5%;
    padding-right: 5%;

}

.information {
    text-align: center;
}
.information a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 1%;
}
.information a img {
    padding-left: 2px;
    padding-right: 2px;
    height: 15px;
    width: 15px;
}
.information a:hover {
    text-decoration: underline;
}

.theTitle {
    color:#4c5c66;
    text-align: center;
    display: flex;
    justify-content: center;
}
.theTitle img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
