html {
}

:root {
    --BgColor: #38405F;
    --HighlightColor: #FF0035
}

body {
    /* background-color:#f1ded8; */
    background-color: var(--BgColor);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10%;
    padding-right:10%;
    color:white;

}

p {
    padding-left: 5%;
    padding-right: 5%;

}
h1{
    margin-top: 15px;
    margin-bottom: 0px;
}
h2 {
    margin:auto;
}

.information {
    text-align: center;
    padding: 1%;
}
.information a {
    text-decoration: none;
    color: white;
    /* background-color: #72454b; */
    border-radius: 20px;
    padding: 15px;
    background-color: #38405F;
}
.information a img {
    transform: translate(0px, 7px);
    height: 25px;
    width: 25px;
    padding-right: 5px;
}
.information a:hover {
    background-color: var(--HighlightColor);
    transition: 0.08s;
}

.theTitle {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 17px;
}
.theTitle img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* certifications styles */
.certifications {
}
.certifications div{
    width: 200px;
    display: flex;
}
.certifications h2{
    padding: 1em;
    padding-right: 2em;
}
.certifications div img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.content div {
    background-color: #0E131F;
    /* padding: 1em; */
    border-radius: 20px;
    margin: 1em;
    color: white;
    border-style: solid;
    border-color: #6C2334;
}
.content h1 {
    /* background-color: var(--BgColor); */
    color: var(--HighlightColor);
    padding: 0px;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    align-content: center;
}

/* #ReactProjects ul {

} */

#ReactProjects ul li {
    color: black;
    display: inline;
    padding: 5px;
}

#ReactProjects ul li:hover {
    color: white;
    display: inline;
    padding: 5px;
    cursor:pointer;
    transition: 0.08s;
}

#quote-box {
    background: white;
    color: black;
}
